:root {
  --primary-color: #ffc8dd;
  --secondary-color: #bde0fe;
  --third-color: #cdb4db;
  --fourth-color: #a2d2ff;
  --dark-primary-color: #ffafcc;
  --violet-primary: #e6a2ff;
  --violet-prary: #fffae8;
}